@model Blog.Models.Post

@{
    ViewBag.Title = "Rimuovi " + Model.title;
    ViewBag.PageTitle = Model.title;
}

<div class='posts'>
    <div class='post'>
        <p class="post_title">
            @Html.ActionLink(Model.title, "Details", new { id = Model.id })
        </p>
        <div class="post_detail">
            @Html.DisplayFor(model => model.createdAt)
        </div>
        @if (!Model.createdAt.Equals(Model.updatedAt))
        {
            <div class="post_detail">
                @Html.DisplayFor(model => model.updatedAt)
            </div>
        }
        <p class="post_content">
            @Html.DisplayFor(model => model.body)
        </p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="post_actions">
                <div class="form-actions no-color">
                    <input type="submit" value="Confermi la rimozione?" class="btn btn-default" />
                </div>
            </div>
        }

    </div>
</div>
