@model Blog.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class='posts'>
    <div class='post'>
        <p class="post_title">
            @Html.ActionLink(Model.title, "Details", new { id = Model.id })
        </p>
        <div class="post_detail">
            @Html.DisplayFor(model => model.createdAt)
        </div>
        @if (!Model.createdAt.Equals(Model.updatedAt))
        {
            <div class="post_detail">
                @Html.DisplayFor(model => model.updatedAt)
            </div>
        }
        <p class="post_content" th:unless="${shortener}" th:text="${post.body}">
            @Html.DisplayFor(model => model.body)
        </p>
        <div class="post_content" th:if="${shortener}">
            <p class="post_content"></p>
            <a href="/">
                Leggi
                il resto
            </a>
        </div>
        @*
            <div class="post_actions" th:if="${session.author_id}">
                <form class="post_action" th:method="post"
                      th:action="|/posts/${post.id}/edit|" rel="nofollow">
                    <input type="image" alt="Aggiorna" border="0" height="32"
                           class="edit_post_button" src="/images/write.png"
                           th:title="'Aggiorna '+${post.title}" width="32" />
                </form>
                <form class="post_action" th:method="delete"
                      th:action="|/posts/${post.id}|" rel="nofollow">
                    <input type="image" alt="Rimuovi" border="0" src="/images/remove.png"
                           class="remove_post_button" th:title="'Rimuovi '+${post.title}"
                           height="32" width="32" />
                </form>
            </div>
        *@
    </div>
    @*
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    *@
</div>