@model Blog.Models.Post

@{
    ViewBag.PageTitle = ViewBag.Title = Model.title;
}

<div class='posts'>
    <div class='post'>
        <p class="post_title">
            @Html.ActionLink(Model.title, "Details", new { id = Model.id })
        </p>
        <div class="post_detail">
            @Html.DisplayFor(model => model.createdAt)
        </div>
        @if (!Model.createdAt.Equals(Model.updatedAt))
        {
            <div class="post_detail">
                @Html.DisplayFor(model => model.updatedAt)
            </div>
        }
        <p class="post_content">
            @Html.DisplayFor(model => model.body)
        </p>
        <div class="post_actions">
            <a title="Aggiorna @(Model.title)" class="edit_post_button" href="/Post/Edit/@(Model.id)">
                <img src="/Images/write.png" height="32" width="32">
            </a>
            <a title="Rimuovi @(Model.title)" class="edit_post_button" href="/Post/Delete/@(Model.id)">
                <img src="/Images/remove.png" height="32" width="32">
            </a>
        </div>
    </div>
</div>