@model Blog.Models.Post

@{
    ViewBag.PageTitle = ViewBag.Title = Model.title;
}

<div class='posts'>
    @Html.Partial("_NoticePartial")
    <div class='post'>
        <p class="post_title">
            @Html.ActionLink(Model.title, "Details", new { id = Model.id })
        </p>
        <div class="post_detail">
            @Html.DisplayFor(model => model.createdAt)
        </div>
        @if (!Model.createdAt.Equals(Model.updatedAt))
        {
            <div class="post_detail">
                @Html.DisplayFor(model => model.updatedAt)
            </div>
        }
        <p class="post_body">
            @Html.DisplayFor(model => model.body)
        </p>
        @Html.Partial("_PostActionsPartial", new ViewDataDictionary { { "id", Model.id }, {"title", Model.title} })
    </div>
</div>