@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "CSBlog";
}

<div class='posts'>
    @Html.Partial("_NoticePartial")
    <div id='new_post_action' class="post">
        <a title="Crea un nuovo post!" href="/Post/Create">
            <img src="/Images/add.png" height="48" width="48" alt="Add post">
        </a>
    </div>
    @foreach (var item in Model)
    {
        <div class='post'>
            <p class="post_title">
                @Html.ActionLink(item.title, "Details", new { id = item.id })
            </p>
            <div class="post_detail">
                @Html.DisplayFor(modelItem => item.createdAt)
            </div>
            @if (!item.createdAt.Equals(item.updatedAt))
            {
                <div class="post_detail">
                    @Html.DisplayFor(modelItem => item.updatedAt)
                </div>
            }
            <p class="post_content">
                @Html.DisplayFor(modelItem => item.shortenedBody)
            </p>
            @if (item.isLongArticle)
            {
                <div class="post_content">
                    <p class="post_content"></p>
                    @Html.ActionLink("Leggi il resto", "Details", new { id = item.id })
                </div>
            }
            @Html.Partial("_PostActionsPartial", new ViewDataDictionary { { "id", item.id }, { "title", item.title } });
        </div>
    }
</div>