<div id="header">
    <a id="logo" href="/">
        <img alt="RBlog Logo"
             src="@Url.Content("~/Images/aspnet.png")" height="80" />
    </a>
    <div id="header_title">
        <a href="/">@(ViewBag.PageTitle == null ? "CSBlog" : ViewBag.PageTitle)</a>
    </div>
    <div id="banner_links">
        @{
            if (HttpContext.Current.Session["author_id"] != null)
            {
                <div class="banner_link" id="login_link">
                    <a href="@Url.Action("Logout", "Author")" id="log_out_link">
                        @HttpContext.Current.Session["author_email"] -  Esci
                    </a>
                </div>
            }
            else
            {
                <div class="banner_link" id="login_link">
                    <a href="@Url.Action("Login", "Author")" id="log_in_link">Login</a>
                </div>
            }
        }
        <div class="banner_link" id="author_link">
            <a href="@Url.Action("Author", "Home")">Autore</a>
        </div>
        <div class="banner_link" id="abstract_link">
            <a href="@Url.Action("Abstract", "Home")">Abstract</a>
        </div>
        <div class="banner_link" id="search_link">
            <form accept-charset="UTF-8" action="/" method="get">
                <input type="text" placeholder="Ricerca fra i post..."
                       id="search_input_text" name="title" class="ui-autocomplete-input"
                       autocomplete="off" />
                <input alt="Ricerca" id="search_icon"
                       src="/Images/search_32.png" type="image" />
            </form>
        </div>
    </div>
</div>
