<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Styles/application.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/posts.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/form.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/sessions.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.js")"></script>
    @*@RenderSection("~/Styles", false)*@    @*@Styles.Render("~/Content/css")        @Scripts.Render("~/bundles/modernizr")*@
</head>
