<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
@Html.Partial("_HeadPartial")
<body>
    @Html.Partial("_HeaderPartial")
    <div id="content">
        @RenderBody()
    </div>
    @Html.Partial("_FooterPartial")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>